@model IEnumerable<IdentityRole>


<div class="row">
    <div class="col-md-4"></div>

    <table class="table table-hover">

        <thead>
            <th>
                <div class="row">
                    <div class="col-md-4">RoleName</div>
                    <div class="col-md-4">
                        Delete
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success" asp-action="CreateRole">
                            <i class="fa-solid fa-plus"></i>
                             Create Role
                        </a>
                        
                    </div>
                </div>
            </th>
        </thead>
           @foreach(var role in Model){
                <partial name="_RoleCard" model="@role"></partial>
           }
    </table>

    <div class="col-md-4"></div>
</div>
