<div class="row g-0">

    <div class="col-md-4   my-2">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
                <h5 class="card-title">Users(@await Component.InvokeAsync("UserSummary"))</h5>
            </div>
            <div class="card-body text-center">

                <p class="card-text">--</p>
                <div class="d-flrex justify-content-center">

                </div>

                <div class="btn btn-group text-center">
                    <a class="btn btn-primary" asp-page="/GetUsers">Get All Users</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4   my-2">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
                <h5 class="card-title">Roles(@await Component.InvokeAsync("RoleSummary"))</h5>
            </div>
            <div class="card-body  text-center">

                <p class="card-text">--</p>
                <div class="d-flrex justify-content-center">

                </div>

                <div class="btn btn-group text-center">
                    <a class="btn btn-primary" asp-controller="Roles" asp-action="Index">Get All Roles</a>
                </div>
            </div>
        </div>
    </div>

</div>
