@model IEnumerable<IdentityUser>


<div class="row">
    <div class="col-md-4"></div>

    <table class="table table-hover">

        <thead>
            <th>
                <div class="row">
                    <div class="col-md-2">UserName</div>
                    <div class="col-md-2">Email</div>
                    <div class="col-md-2">Role</div>
                    <div class="col-md-6">
                        Delete
                    </div>
                   
                </div>
            </th>
        </thead>
           @foreach(var user in Model){
                <partial name="_UserCard" model="@user"></partial>
           }
    </table>

    <div class="col-md-4"></div>
</div>
