@inject MainPageModel _mainPageModel
@model ContactAreaModel

<div class="col-12 col-lg-5 col-xl-3 border-right">

    @foreach (ContactModel contact in Model.contactList)
    {
        <a asp-area="" asp-controller="Chat" asp-action="Index" asp-route-contactId="@contact.userId" class="list-group-item list-group-item-action border-0">
            <div class="d-flex align-items-start">
                <img src="@contact.imageUrl" class="rounded-circle mr-1" width="40" height="40">
                <div class="flex-grow-1 ml-3">
                    @contact.name
                </div>
            </div>
        </a>

        <hr class="d-block d-lg-none mt-1 mb-0">
    }

</div>