
@model ChatPageModel

<main class="content">
    <div class="container p-0">

        <h1 class="h3 mb-3">Messages</h1>

        <div class="card">
            <div class="row g-0">
                
               <partial name="_Contacts" model="@Model.contactAreaModel">

                @if(Model.isChatedContact){
                    <partial name="_Messages" model="@Model.messageAreaModel"></partial>
                }
            </div>
        </div>
    </div>
</main>