@page
@model DeleteUserModel
@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<div>
    <p>Are you sure you want to delete user <strong>@Model.UserToDelete.UserName</strong>?</p>
    <form method="post">
        
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./GetUsers" class="btn btn-secondary">Cancel</a>
    </form>
</div>