@using Survey.Models
@model MainPageModel



<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a asp-area="" asp-controller="MainPage" asp-action="Index" class="nav-link px-2 link-secondary">Home</a>
        </li>


        @if (Model?.Role == Roles.Admin)
        {
            <li>
                <a asp-area="admin" asp-controller="dashboard" asp-action="Index" class="nav-link px-2 link-dark">Admin</a>
            </li>
        }

        @if (Model?.IsUserLogged == true)
        {
            @if (@Model?.IsUserCompletedMembership == false)
            {
                <li>
                    <a class="nav-link px-2 link-dark text-danger" asp-controller="MembershipComplete" asp-action="CustomizeAccordingToRole" asp-route-role="@Model.Role" asp-route-userId="@Model.User.Id">Complete Membership..</a>
                </li>
            }

            @if ((Model?.Role == Roles.Boss || Model?.Role == Roles.Author) && Model?.IsUserCompletedMembership == true)
            {
                if (Model?.IsUserConfirmed == false)
                {
                    <p class="nav-link link-dark text-danger">
                        your membership has not been approved yet</p>

                }
            }


        }




    </ul>

    @if (Model?.IsUserLogged == true)
    {
        <div class="col-md-3 text-end">
            <a asp-controller="Account" asp-action="LogOut" class="btn btn-outline-primary me-2">Log out</a>
        </div>
    }
    else
    {
        <div class="col-md-3 text-end">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-primary me-2">Login</a>
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-primary me-2">Sign-up</a>
        </div>
    }

</header>